.kyc {
  width: 100%;
  height: 100%;
  background: #1e1e20;
  &__wrapper {
    padding: 20rem 20rem;
    @media screen and (max-width: 1700px) {
      padding: 20rem 5rem;
    }
    @include breakpoint-down(tab) {
      padding: 20rem 4rem;
    }
    @include breakpoint-down(mobile) {
      padding: 15rem 3rem;
    }
  }
  &__heading {
    text-align: center;
    margin-bottom: 12rem;
    @include breakpoint-down(mobile) {
      margin-bottom: 8rem;
    }
    h2 {
      font-size: 7rem;
      font-weight: 500;
      color: #ffffff;
      letter-spacing: 0.1em;
      @media screen and (max-width: 1400px) {
        font-size: 5rem;
      }
      @include breakpoint-down(tab) {
        font-size: 4.5rem;
      }
      @include breakpoint-down(mobile) {
        font-size: 3rem;
      }
    }
    p {
      font-size: 2rem;
      margin-block: 2rem;
      line-height: 30px;
      color: #fff;
      @include breakpoint-down(mobile) {
        font-size: 1.6rem;
      }
    }
  }
  &__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    @include breakpoint-down(tab) {
      flex-direction: column;
    }
    h2 {
      font-size: 2.5rem;
      font-weight: 500;
      margin-bottom: 2rem;
      color: #236bfe;
      @include breakpoint-down(tab) {
        font-size: 2.2rem;
      }
      @include breakpoint-down(mobile) {
        font-size: 2rem;
      }
    }
    h3 {
      font-size: 1.8rem;
      font-weight: 500;
      margin-block: 2rem;
      @include breakpoint-down(mobile) {
        font-size: 1.6rem;
      }
    }
    h4 {
      font-weight: 500;
      font-size: 2rem;
      margin-block: 1rem;
      @include breakpoint-down(mobile) {
        font-size: 1.8rem;
      }
    }
    p {
      font-size: 1.5rem;
      line-height: 30px;
      margin-block: 1rem;
      @include breakpoint-down(mobile) {
        font-size: 1.4rem;
      }
    }
    ul {
      margin-left: 5rem;
      @include breakpoint-down(tab) {
        margin-left: 3rem;
      }
      @include breakpoint-down(mobile) {
        margin-left: 1rem;
      }
      li {
        font-size: 1.6rem;
        margin-block: 1rem;
        font-weight: 500;
        font-family: "DM Sans", sans-serif;
        @include breakpoint-down(mobile) {
          font-size: 1.4rem;
        }
      }
      li::marker {
        color: #236bfe;
        font-size: 2.5rem;
      }
    }
    .kyc__content-single-info {
      margin-bottom: 5rem;
    }
    &-poi {
      flex-basis: 50%;
      margin-right: 5rem;
      @include breakpoint-down(tab) {
        margin-right: 0rem;
        margin-bottom: 3rem;
      }
      ul {
        margin-block: 5rem;
      }
    }
    &-por {
      flex-basis: 50%;
    }
  }
}
